[submodule "golem-js"]
	path = golem-js
	url = https://github.com/golemfactory/golem-js.git
	branch = pociej/deposit
[submodule "ya-ts-client"]
	path = ya-ts-client
	url = https://github.com/golemfactory/ya-ts-client.git
  branch = pociej/deposit
[submodule "golem-sdk-task-executor"]
	path = golem-sdk-task-executor
	url = https://github.com/golemfactory/golem-sdk-task-executor.git
	branch = pociej/deposit

[submodule "yagna"]
	path = yagna
	url = https://github.com/golemfactory/yagna.git
  branch = kek/init-on-schedule