#app:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('https://assets-global.website-files.com/62446d07873fde065cbcb8d5/657201ccae29e25f6b000267_6a72402a-185c-4223-930f-6032853bd089%201.jpg');
  background-size: cover;
}

#app {
  position: relative;
}